body {
    font-family: Arial, Helvetica, sans-serif;
    width:80%;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media screen and (max-width: 600px) {
    body{
        width: 100%;
    }
}

#header {
    text-align: center;
    font-size: 200%;
}

#content {
    text-align: center;
}

.box-shadow {
    box-shadow: 0px 0px 10px black;
}

.card-box {
    display: flex;
    justify-content: space-evenly;
}

#random-display {
    width: 50vw; 
    height: auto;
}

.card {
    width: 200px; 
    height: auto;
}